<div id="kt_aside" class="aside" data-kt-drawer="true" data-kt-drawer-name="aside" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'200px', '300px': '250px'}" data-kt-drawer-direction="start" data-kt-drawer-toggle=".kt_aside_mobile_toggle">
  <!--begin::Aside Toolbarl-->
  <div class="aside-toolbar flex-column-auto" id="kt_aside_toolbar">
    <!--begin::User-->
    <app-login-user></app-login-user>
    <!--end::User-->

    <!--end::Aside user-->
  </div>
  <!--end::Aside Toolbarl-->
  <!--begin::Aside menu-->
  <app-aside-menu></app-aside-menu>
  <!--end::Aside menu-->
</div>
