<!--begin::Row-->
<div class="row g-5 g-xl-8">
  <div class="col-xl-4">
    <!--begin::Statistics Widget 5-->
    <a [routerLink]="navigator.rooms" class="card bg-body-white hoverable card-xl-stretch mb-xl-8">
      <!--begin::Body-->
      <div class="card-body">
        <!--begin::Svg Icon | path: icons/duotune/ecommerce/ecm002.svg-->
        <span class="svg-icon svg-icon-primary svg-icon-3x ms-n1">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg>
        </span>
        <!--end::Svg Icon-->
        <div class="text-gray-900 fw-bolder fs-2 mb-2 mt-5">View Lecture Rooms</div>
        <div class="fw-bold text-gray-400">View rooms available for lectures</div>
      </div>
      <!--end::Body-->
    </a>
    <!--end::Statistics Widget 5-->
  </div>

  <div class="col-xl-4">
    <!--begin::Statistics Widget 5-->
    <a [routerLink]="navigator.addRoom" class="card bg-body-white hoverable card-xl-stretch mb-xl-8">
      <!--begin::Body-->
      <div class="card-body">
        <!--begin::Svg Icon | path: icons/duotune/ecommerce/ecm002.svg-->
        <span class="svg-icon svg-icon-primary svg-icon-3x ms-n1">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg>
        </span>
        <!--end::Svg Icon-->
        <div class="text-gray-900 fw-bolder fs-2 mb-2 mt-5">Add Room</div>
        <div class="fw-bold text-gray-400">Add room for lectures</div>
      </div>
      <!--end::Body-->
    </a>
    <!--end::Statistics Widget 5-->
  </div>

  <div class="col-xl-4">
    <!--begin::Statistics Widget 5-->
    <a [routerLink]="navigator.classes" class="card bg-body-white hoverable card-xl-stretch mb-xl-8">
      <!--begin::Body-->
      <div class="card-body">
        <!--begin::Svg Icon | path: icons/duotune/ecommerce/ecm002.svg-->
        <span class="svg-icon svg-icon-primary svg-icon-3x ms-n1">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg>
        </span>
        <!--end::Svg Icon-->
        <div class="text-gray-900 fw-bolder fs-2 mb-2 mt-5">View Classes</div>
        <div class="fw-bold text-gray-400">View class groups</div>
      </div>
      <!--end::Body-->
    </a>
    <!--end::Statistics Widget 5-->
  </div>

  <div class="col-xl-4">
    <!--begin::Statistics Widget 5-->
    <a [routerLink]="navigator.lectures" class="card bg-body-white hoverable card-xl-stretch mb-xl-8">
      <!--begin::Body-->
      <div class="card-body">
        <!--begin::Svg Icon | path: icons/duotune/ecommerce/ecm002.svg-->
        <span class="svg-icon svg-icon-primary svg-icon-3x ms-n1">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg>
        </span>
        <!--end::Svg Icon-->
        <div class="text-gray-900 fw-bolder fs-2 mb-2 mt-5">View Lectures</div>
        <div class="fw-bold text-gray-400">View your lectures</div>
      </div>
      <!--end::Body-->
    </a>
    <!--end::Statistics Widget 5-->
  </div>

</div>
<!--end::Row-->
