<footer class="row footer text-muted col-12 m-auto" style="position:fixed; bottom:0;">
    <div class="container">
        &copy; 2023 - UMaTLMS.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>