<!--begin::Notice-->
<div class="notice d-flex bg-light-warning rounded border-warning border border-dashed p-6 mb-4">
  <!--begin::Icon-->
  <!--begin::Svg Icon | path: icons/duotune/general/gen044.svg-->
  <span class="svg-icon svg-icon-2tx svg-icon-warning me-4">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
					<rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="black" />
					<rect x="11" y="14" width="7" height="2" rx="1" transform="rotate(-90 11 14)" fill="black" />
					<rect x="11" y="17" width="2" height="2" rx="1" transform="rotate(-90 11 17)" fill="black" />
				</svg>
			</span>
  <!--end::Svg Icon-->
  <!--end::Icon-->
  <!--begin::Wrapper-->
  <div class="d-flex flex-stack flex-grow-1">
    <!--begin::Content-->
    <div class="fw-bold">
      <h4 class="text-gray-900 fw-bolder">Create new lecture pairings for classes of selected lecture</h4>
      <div class="fs-6 text-gray-700">Click on <span class="fw-bolder">Create New</span> and add new pairings.</div>
    </div>
    <!--end::Content-->
  </div>
  <!--end::Wrapper-->
</div>
<!--end::Notice-->

<!--begin::Basic info-->
<div class="card mb-5 mb-xl-10">
  <!--begin::Card header-->
  <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
    <!--begin::Card title-->
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0">Edit Lecture</h3>
    </div>
    <!--end::Card title-->
  </div>
  <!--begin::Card header-->
  <!--begin::Content-->
  <div class="collapse show">

    <!--begin::Card body-->
    <div class="card-body border-top p-9">

      <!--begin::Input group-->
      <div class="row mb-6">
        <!--begin::Col-->
        <div class="col-lg-12 fv-row">
          <input [(ngModel)]="lecture.course.name" type="text" name="course" class="form-control form-control-lg form-control-solid"
                 disabled/>
          <!--                <div *ngIf="numOfSubClasses.touched && numOfSubClasses.invalid">-->
          <!--                  <span class="text-danger">Field should not be empty</span>-->
          <!--                </div>-->
        </div>
        <!--end::Col-->
      </div>
      <!--end::Input group-->

      <!--begin::Input group-->
      <div class="row mb-6">
        <!--begin::Col-->
        <div class="col-lg-12 fv-row">
          <input [(ngModel)]="lecture.lecturer.name" type="text" name="lecturer" class="form-control form-control-lg form-control-solid"
                 disabled/>
        </div>
        <!--end::Col-->
      </div>
      <!--end::Input group-->

      <!--begin::Input group-->
      <div class="row mb-6">
        <!--begin::Label-->
        <label class="col-lg-1 col-form-label fw-bold fs-6">Is VLE?</label>
        <!--end::Label-->
        <!--begin::Col-->
        <div class="col-lg-11 fv-row">
          <input [(ngModel)]="lecture.isVLE" class="form-check-input" type="checkbox" value="" id="isVleLecture">
        </div>
        <!--end::Col-->
      </div>
      <!--end::Input group-->

      <div class="mt-4">
        <div class="h4 text-center">Generated Combinations</div>

        <!--begin::Table container-->
        <div class="table-responsive">
          <!--begin::Table-->
          <table class="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3">
            <!--begin::Table head-->
            <thead>
            <tr class="fw-bolder text-muted">
              <th class="min-w-150px">Classes</th>
              <th class="min-w-100px text-end">Actions</th>
            </tr>
            </thead>
            <!--end::Table head-->
            <!--begin::Table body-->
            <tbody>

            <tr *ngFor="let x of lectures">
              <td>
                <span *ngFor="let c of x.subClassGroups">
                  <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">{{c.name}}</a>
                </span>
              </td>
              <td class="text-end">

                <a (click)="selectLecture(x)" data-bs-toggle="modal" data-bs-target="#lectureModal" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                  <!--begin::Svg Icon | path: icons/duotune/art/art005.svg-->
                  <span class="svg-icon svg-icon-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path opacity="0.3" d="M21.4 8.35303L19.241 10.511L13.485 4.755L15.643 2.59595C16.0248 2.21423 16.5426 1.99988 17.0825 1.99988C17.6224 1.99988 18.1402 2.21423 18.522 2.59595L21.4 5.474C21.7817 5.85581 21.9962 6.37355 21.9962 6.91345C21.9962 7.45335 21.7817 7.97122 21.4 8.35303ZM3.68699 21.932L9.88699 19.865L4.13099 14.109L2.06399 20.309C1.98815 20.5354 1.97703 20.7787 2.03189 21.0111C2.08674 21.2436 2.2054 21.4561 2.37449 21.6248C2.54359 21.7934 2.75641 21.9115 2.989 21.9658C3.22158 22.0201 3.4647 22.0084 3.69099 21.932H3.68699Z" fill="black"/>
                  <path d="M5.574 21.3L3.692 21.928C3.46591 22.0032 3.22334 22.0141 2.99144 21.9594C2.75954 21.9046 2.54744 21.7864 2.3789 21.6179C2.21036 21.4495 2.09202 21.2375 2.03711 21.0056C1.9822 20.7737 1.99289 20.5312 2.06799 20.3051L2.696 18.422L5.574 21.3ZM4.13499 14.105L9.891 19.861L19.245 10.507L13.489 4.75098L4.13499 14.105Z" fill="black"/>
                </svg>
              </span>
                  <!--end::Svg Icon-->
                </a>

                <button (click)="deleteLecture(x)" *ngIf="x.id != lectureId" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm">
                  <!--begin::Svg Icon | path: icons/duotune/general/gen027.svg-->
                  <span class="svg-icon svg-icon-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path d="M5 9C5 8.44772 5.44772 8 6 8H18C18.5523 8 19 8.44772 19 9V18C19 19.6569 17.6569 21 16 21H8C6.34315 21 5 19.6569 5 18V9Z" fill="black"/>
                  <path opacity="0.5" d="M5 5C5 4.44772 5.44772 4 6 4H18C18.5523 4 19 4.44772 19 5V5C19 5.55228 18.5523 6 18 6H6C5.44772 6 5 5.55228 5 5V5Z" fill="black"/>
                  <path opacity="0.5" d="M9 4C9 3.44772 9.44772 3 10 3H14C14.5523 3 15 3.44772 15 4V4H9V4Z" fill="black"/>
                </svg>
              </span>
                  <!--end::Svg Icon-->
                </button>
              </td>
            </tr>

            </tbody>
            <!--end::Table body-->
          </table>
          <!--end::Table-->
        </div>
        <!--end::Table container-->
      </div>
    </div>
    <!--end::Card body-->
    <!--begin::Actions-->
    <div class="card-footer d-flex justify-content-end py-6 px-9">
      <button type="submit" class="btn btn-primary me-2" (click)="submitLectures()">Submit</button>
    </div>
    <!--end::Actions-->

  </div>
  <!--end::Content-->
</div>
<!--end::Basic info-->

<!-- Modal -->
<div class="modal fade" id="lectureModal" tabindex="-1" role="dialog" aria-labelledby="lectureModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="lectureModalLabel">Select classes to pair</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form class="form" (ngSubmit)="createPair()">
        <div class="modal-body">
          <!--begin::Card body-->
          <div class="">
            <ng-select [(ngModel)]="pairings" name="pairings" class="form-control form-control-lg form-control-solid"
                       [items]="selectedLecture.subClassGroups"
                       bindLabel="name"
                       bindValue="id"
                       placeholder="Select Classes"
                       appendTo=""
                       [multiple]=true>
            </ng-select>
          </div>
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-primary" value="Pair" data-bs-toggle="modal" data-bs-target="#lectureModal" />
        </div>
      </form>
    </div>
  </div>
</div>
