<!--begin::Basic info-->
<div class="card mb-5 mb-xl-10">
  <!--begin::Card header-->
  <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
    <!--begin::Card title-->
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0">Edit Course</h3>
    </div>
    <!--end::Card title-->
  </div>
  <!--begin::Card header-->
  <!--begin::Content-->
  <div class="collapse show">
    <!--begin::Form-->
    <form [formGroup]="courseForm" class="form" (ngSubmit)="editCourse()">
      <!--begin::Card body-->
      <div class="card-body border-top p-9">
        <!--begin::Input group-->
        <div class="row mb-6">
          <!--begin::Label-->
          <label class="col-lg-4 col-form-label required fw-bold fs-6">Name</label>
          <!--end::Label-->
          <!--begin::Col-->
          <div class="col-lg-8 fv-row">
            <input [value]="course"
                   type="text" name="name" class="form-control form-control-lg form-control-solid"
                   disabled />
          </div>
          <!--end::Col-->
        </div>
        <!--end::Input group-->

        <!--begin::Input group-->
        <div class="row mb-6">
          <!--begin::Label-->
          <label class="col-lg-4 col-form-label fw-bold fs-6">Has General Exam?</label>
          <!--end::Label-->
          <!--begin::Col-->
          <div class="col-lg-8 fv-row">
            <input formControlName="isExaminable" [class.is-invalid]="getControl('isExaminable').touched
            && getControl('isExaminable').invalid"
                   class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
          </div>
          <!--end::Col-->
        </div>
        <!--end::Input group-->

        <!--begin::Input group-->
        <div class="row mb-6">
          <!--begin::Label-->
          <label class="col-lg-4 col-form-label fw-bold fs-6">Has Practical Exam?</label>
          <!--end::Label-->
          <!--begin::Col-->
          <div class="col-lg-8 fv-row">
            <input formControlName="hasPracticalExams" [class.is-invalid]="getControl('hasPracticalExams').touched
            && getControl('hasPracticalExams').invalid"
                   class="form-check-input" type="checkbox" value="" id="pracflexCheckChecked">
          </div>
          <!--end::Col-->
        </div>
        <!--end::Input group-->

        <!--begin::Input group-->
        <div class="row mb-6">
          <!--begin::Label-->
          <label class="col-lg-4 col-form-label fw-bold fs-6">Has Weekly Lectures?</label>
          <!--end::Label-->
          <!--begin::Col-->
          <div class="col-lg-8 fv-row">
            <input formControlName="isToHaveWeeklyLectureSchedule"
                   [class.is-invalid]="getControl('isToHaveWeeklyLectureSchedule').touched
                   && getControl('isToHaveWeeklyLectureSchedule').invalid"
                   class="form-check-input" type="checkbox" value="" id="isIncludeflexCheckChecked">
          </div>
          <!--end::Col-->
        </div>
        <!--end::Input group-->
      </div>
      <!--end::Card body-->
      <!--begin::Actions-->
      <div class="card-footer d-flex justify-content-end py-6 px-9">
        <button type="reset" class="btn btn-light btn-active-light-primary me-2">Discard</button>
        <button type="submit" class="btn btn-primary" [disabled]="courseForm.invalid">
          <span *ngIf="!isLoading">Submit</span>
          <span *ngIf="isLoading">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Working on it...
        </span>
        </button>
      </div>
      <!--end::Actions-->
    </form>
    <!--end::Form-->
  </div>
  <!--end::Content-->
</div>
<!--end::Basic info-->
